<div class="user" style="display: flex; justify-content: space-between; margin-top: 4px">
  <% if user.photo.present? %>
  <img class="photoUser" src="<%= user.photo %>" alt="<%= "#{user.name}'s picture" %>" style="border: 2px solid green;  height: 100px;
  width: 100px; margin-top: 4px;">
  <% else %>
  <div class="demo-photo" src="person.png"></div>
  <% end %>

  <div class="user-detail" style="width: 90%; border: 2px solid grey;">
    <%= link_to user_path(user) do %>
      <h2 class="user-name"><%= user.name %></h2>
    <% end %>
      <!-- this (user) below is attribute passed eg. the generated url look like "user_path/1" if user argument has an id attribute of 1 -->
      <%= link_to user_path(user) do%>
      <h4 style="display: flex;
      flex-direction: row-reverse;">Total Number of Posts: <%= user.posts_counter %></h4>
      <% end %>
  </div>
</div>