<%= render partial: 'users/user', locals: { user: @user } %>
<div>
  <h3>Bio</h3>
  <p><%= @user.bio %></p>
</div>
<hr><hr>

<section id="allPosts">
  <% @user.recent_posts.each do |post| %>
    <%= render partial: 'posts/post', locals: { post: post } %>
  <% end %>

  <%= link_to user_posts_path(@user) do %>
  <p style="display: flex; justify-content: center; text-shadow: 2px 2px 4px grey;">
    <span style="border: 3px solid grey; padding: 4px">See all posts</span>
  </p>
  <% end %>
  
  <p style="display: flex; justify-content: center; text-shadow: 2px 2px 4px grey;">
    <span style="border: 3px solid grey; padding: 4px"> <%= link_to 'New Post', new_user_post_path(@user) %></span>
  </p>
 

</section>
