<div class="random" style="display: flex; justify-content: space-between; border: 2px solid grey;">
  <div>
    <h3>Post #<%= @post.id %> by <%= @post.author.name %></h3>
    <div>
      <p><%= @post.text %></p>
    </div>
  </div>
  <div style="display: flex; padding: 6px; gap: 10px">
  <p>Comments: <%= @post.comments_counter %></p>
  <p>Likes: <%= @post.likes_counter %></p>
</div>
  
</div>

<div class="random" style="display: flex;flex-direction: column; border: 2px solid grey;" >
  <% if @comments.present? %>
    <% @comments.each do |comment| %>
      <%= render partial: 'comments/commets', locals: { comment: comment } %>
    <% end %>
  <% else %>
    <p>No comments yet.</p>
  <% end %>
</div>

<%= link_to user_post_comments_path(@user, @post) do %>
    <p style="display: flex; justify-content: center; text-shadow: 2px 2px 4px grey;">
      <span style="border: 3px solid grey; padding: 4px">add new comment</span>
    </p>
  <% end %>
