<article>
  <div>
    <h3>Post #<%= @post.id %> by <%= @post.author.name %></h3>
    <div>
      <p>Number of Comments: <%= @post.comments_counter %></p>
      <p>Number of Likes: <%= @post.likes_counter %></p>
    </div>
  </div>
  <p><%= @post.text %></p>
</article>

<article >
  <% if @comments.present? %>
    <% @comments.each do |comment| %>
      <%= render partial: 'comments/comments', locals: { comment: comment } %>
    <% end %>
  <% else %>
    <p>No comments yet.</p>
  <% end %>
</article>