<div class="random" style="display: flex; justify-content: space-between; border: 2px solid grey;">
  <div>
    <h3>Post #<%= @post.id %> by <%= @post.author.name %></h3>
    <div>
      <p><%= @post.text %></p>
    </div>
    <%= render partial: 'likes/like_form', locals: { post: @post } %>

  </div>
  <div style="display: flex; padding: 6px; gap: 10px">
    <% if can? :destroy, @post %>
    <%= button_to "Delet This Post" ,[@post.author, @post], method: :delete %>

    <p>Comments: <%= @post.comments_counter %></p>
    <p>Likes: <%= @post.likes_counter %></p>
  </div>
</div>

<article style="border: 1px solid gray">
  <%= render partial: 'comments/comment_form', locals: { post: @post, comment: Comment.new } %>

  <% if @comments&.any? %>
    <%= render partial: 'comments/comment', collection: @comments %>
  <% else %>
    <p>No comments yet.</p>
  <% end %>
</article>



